$backgroundColorBody: #FFFFFF;
$backgroundColorHeaderTop:#202020;
$backgroundColorHeaderBottom: #4A4A4A;
$colorWhiteText: #FFFFFF;
$colorInput: #E9E9E9;
$TTFirsNeue:'TTFirsNeue';
$Roboto:'Roboto';
$ColorButton: #FF6E30;
$colorButtonHover:#BC572B;
$colorBgDecor: #333333;
$colorDescr: #202020;
$colorAboutText: #CACACA;
$colorSpandate:#999999;
$backgroundOverlay: rgba(32, 32, 32, 0.85);
$colorFooterValue: #999999;