$backgroundColorBody: #E5E5E5;
$backgroundColorHeaderTop:#202020;
$backgroundColorHeaderBottom: #4A4A4A;
$colorWhiteText: #FFFFFF;
$colorInput: #E9E9E9;
$TTFirsNeue:'TTFirsNeue';
$Roboto:'Roboto';
$ColorButton: #FF6E30;
$colorBgDecor: #333333;
$colorDescr: #202020;